
<script type="text/javascript">
    //<![CDATA[

    function setBoxValue(clt_box_qty) {
        Cookie.set('box_qty', clt_box_qty);
    }
    //]]>
</script>

<button type="button" title="<?php echo $this->__('Start shopping ') . $this->getBoxesQty(); ?>" class="button btn-cart" onclick="setBoxValue(<?php echo $this->getBoxesQty(); ?>);setLocation('<?php echo $this->getCatalogLink(); ?><?php //echo $_product->getProductUrl(); ?>')"><span><span><?php echo $this->__('Start shopping ') . $this->getBoxesQty(); ?></span></span></button>
