<div class="container boxes-container">
    <div class="row" style="margin-bottom: 36px;">
        <div class="col-md-6 box-item">
            <h2>Box 2-Osobowy</h2>
            <img class="img-responsive" src="http://clt.dev/skin/frontend/clt/default/images/logo_clt.png" alt="" />
            <div class="text-left box-item-content">
                <h4>Idealne rozwiadzanie dla dwojga</h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <?php
                    $filter = new Mage_Widget_Model_Template_Filter();
                    $_widget = $filter->filter('{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="7" trololo="tada"}}');
                    echo $_widget;
                ?>
            </div>
        </div>
        <div class="col-md-6 box-item">
            <h2>Box 4-Osobowy</h2>
            <img class="img-responsive" src="http://clt.dev/skin/frontend/clt/default/images/logo_clt.png" alt="" />
            <div class="text-left box-item-content">
                <h4>Idealne rozwiadzanie dla dwojga</h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <?php
                    $filter = new Mage_Widget_Model_Template_Filter();
                    $_widget = $filter->filter('{{widget type="cms/widget_block" template="cms/widget/static_block/default.phtml" block_id="9" trololo="tada"}}');
                    echo $_widget;
                ?>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 box-item">
            <h2>Starter Kit</h2>
            <img class="img-responsive" src="http://clt.dev/skin/frontend/clt/default/images/logo_clt.png" alt="" />
            <div class="text-left box-item-content">
                <h4>Idealne rozwiadzanie dla dwojga</h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>

                <button type="button" title="<?php echo $this->__('Start shopping ');?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getCatalogLink(); ?>')"><span><span><?php echo $this->__('Start shopping '); ?></span></span></button>

            </div>
        </div>
        <div class="col-md-6 box-item">
            <h2>Warzywa i owoce</h2>
            <img class="img-responsive" src="http://clt.dev/skin/frontend/clt/default/images/logo_clt.png" alt="" />
            <div class="text-left box-item-content">
                <h4>Idealne rozwiadzanie dla dwojga</h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>

                <button type="button" title="<?php echo $this->__('Start shopping ');?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getCatalogLink(); ?>')"><span><span><?php echo $this->__('Start shopping '); ?></span></span></button>

            </div>
        </div>
    </div>
</div>