body {
    background:#496778 url(../images/bkg_body_clt.png) 50% 0 repeat;
    /*font:12px/1.55 Arial, Helvetica, sans-serif; */
    font:12px/1.55 'Questrial', sans-serif;
    color:#000; text-align:center;
    padding-top: 70px;
}

body h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

#content h1, #content h2 {
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 26px;
}

.product-header .product-name{
    text-transform: uppercase;
}

.product-header .header-image {
    width: 100%;
    max-height: 480px;
    z-index: 1;
}

.product-header-container {
    border: 6px solid #fff;
    margin-top: 56px;
    margin-bottom: 26px;
    padding-bottom: 26px;
}

.price-box {
    display: inline-block;
}

.price {
    padding: 8px 12px;
    background-color: #e9383a;
    color: #fff;
    font-weight: bold;
}

.label-price {
    text-transform: uppercase;
    font-weight: bold;
}

.category-products .item .price {
    background-color: #e7e7e0;
    padding: 9px;
    color: #000;
}

.price .price-number {
    font-size: 25px;
    vertical-align: sub;
    font-weight: 600;
}

.header-container {
    /*border-top:5px solid #0d2131;*/
    /*border-bottom:1px solid #415966;*/
    /*background:url(../images/bkg_header.jpg) 50% 0 repeat;*/
    background-color: #fefbea;
}

.navbar-header {
    background-color: #fefbea;
    border-color: #e7e7e7;
}

.navbar-footer {
    background-color: #fff;
    border-color: #e7e7e7;
}

.quick-access {
    margin-top: 20px;
    padding-top: 16px;
    padding-bottom: 28px;

}


.icon-bar {
    background-color: #000;
}

.quick-access ul li {
    list-style-type: none;
    float: left;
    background: url(../images/list_bullet.png) no-repeat 0 40%;
    text-align: left;
}

.quick-access ul li.first{
    background: none;
}

.quick-access ul li a {
    padding: 6px 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.quick-access ul li a:hover {
    border-bottom: 2px solid #060606;
}

.quick-access ul {
    padding-left: 0;
    height: 28px;
    margin-bottom: 0;
}

.footer .quick-access ul li {
    width: 200px;
}

/*Boxes page */

.boxes-container {
    margin-bottom: 36px;
}

.boxes-container .box-item .box-item-content {
    background-color: white;
    padding: 32px;

}

.boxes-container .box-item img {
    width: 100%;
    height: 260px;
}

.boxes-container .box-item h2, .boxes-container .box-item h4{
    text-transform: uppercase;
}

button {
    background-color: #36bd72;
    border: none;
    color: white;
    padding: 6px 12px;
    text-transform: uppercase;
}

button:disabled {
    background-color: #bfc0bf;
}

.logo_footer {
    padding-top: 40px;
    padding-left: 32px;
}


.recipe-description {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 36px;
}

.recipe-ingredients-container .ingredients-block {
    background-color: #fefbea;
    margin-top: 0;
    margin-bottom: 0;
    padding: 16px;
    overflow: scroll;
}

.recipe-ingredients-container .emphasized {
    color: #e9383a;
}

.recipe-ingredients-container .ingredients-block h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    margin: 0;
}

.recipe-ingredients-container .ingredients-block hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

.recipe-ingredients-container .ingredients-content{
    margin-bottom: 46px;
}


/* at category page*/
.category-description {
    padding-top: 42px;
    font-size: 16px;
}
.category-products #masonry-steps-container .item .step-content {
    padding-left: 42px;
    padding-bottom: 12px;
    text-align: justify;
}

#recipes-list {
    margin-top: 42px;
}


/*
    Masonry Layout
*/

#masonry-steps-container .item {
    width: 366px;
    /*height: auto;*/
    background-color: #fff;
    margin-bottom: 26px;
    overflow: visible;
}

.category-products #masonry-steps-container .item {
    width: 366px;/*47.5%;*/
}

.step-title {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 32px;
    padding-top: 32px;
    font-weight: bold;
}

.step-content {
    padding-left: 54px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 36px;
}
.step-image img {
    width: 100%;
    /*height: 120px;*/
}

.step-image {
    background-size: cover;
}


/*
box-compositor
*/


.box-compositor-header {
    background-color: #ffd420;
    color: #000;
    padding-top: 22px;
    padding-bottom: 22px;
    text-transform: uppercase;
}
.box-compositor-container {
    background-color: #fff;
    padding: 12px;
    padding-bottom: 0;
}

.box-switcher {
    padding: 6px 12px 0 12px;
}

.items-container {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}


.items-canvas {
    padding: 12px;
    background-color: #F5F5F5;
    margin-bottom: 26px;
}

.items-canvas .items-price-container {
    text-transform: uppercase;
    margin-top: 6px;
    font-weight: bold;
}

.items-canvas .items-price-container .price {
    margin-left: 6px;
}
.items-canvas .items-price-container .price-number {
    font-size: 18px;
    vertical-align: -2px;
}

.box-item {
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
}

.items-container .box-item .box-item-name {
    margin-left: 46px;
    padding: 6px;
    border: 1px solid #bdbdbd;
    text-transform: uppercase;
    font-size: 15px;
}

.items-container .box-item .box-item-qty-image {
    /*padding-top: 4px;*/
}

.items-compositor-bottom {
    font-size: 24px;
    text-transform: uppercase;
}

.button-large {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 18px;
}


.header-image-bg {
    width: 100%;
    height: 200px;
    margin-top: 23px;
    color: #fff;
    padding-top: 36px;
    padding-bottom: 36px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(http://clt.dev/media/catalog/category/goujons_z_kurczaka_main.png);
}

.product-header-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 26px;
    padding-top: 26px;
}



.items-cart-counter {
    background-color: #ffd420;
    padding: 6px;
    font-size: 16px;
    color: #fff;
}

.items-cart-counter.disabled {
    background-color: #dfdfdf;
}






/*  Media changes */
@media (max-width: 1200px) {
    .header-image-bg {
        background-size: auto;
    }

    .category-products #masonry-steps-container .item {
        width: 48.2%;/*460px;*/
    }
}

@media (max-width: 768px) {
    .menu-container {
        background: #FEFBEA;
    }
    .quick-access ul li, .quick-access ul li.first {
        text-align: center;
        width: 100%;
        padding: 20px 0;
        background: #ffd200;
        border-bottom: 1px solid #ffffff;
        font-size: 27px;
    }

    .menu-container button {
        border-radius: 0;
        color: #000000;
        background: #FEFBEA;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .quick-access, .navbar-toggle.collapsed {
        background: #ffd200;
    }

    .navbar-toggle .caret {
        border-bottom: 4px solid;
        border-top: 4px solid transparent;
        margin-top: -8px;
    }

    .navbar-toggle.collapsed .caret {
        border-top: 4px solid;
        border-bottom: 4px solid transparent;
        margin-top: 0;
    }

    .navbar-collapse {
        padding-right: 0;
    }

    .quick-access {
        margin: 0;
        padding: 0;
    }

    .menu-bg {
        background: #ffd200;
    }



}


@media (max-width: 740px) {


    .category-products #masonry-steps-container .item {
        width: 100%;
    }
}