<!--
/**
 * Unicode Systems
 * @category   Uni
 * @package    Uni_Fileuploader
 * @copyright  Copyright (c) 2010-2011 Unicode Systems. (http://www.unicodesystems.in)
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
 -->

<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>

<style type="text/css">

    div.attachment-specs td.label a.prod-attach{text-decoration: none; cursor: pointer;}
    div.attachment-specs td.label span.attach-img{float: left;}
    div.attachment-specs td.label span.attach-title{float: left; text-decoration: underline;}
</style>
<?php
$_product = Mage::registry('current_product');
$attachments = $this->getProductAttachments($_product->getId());
$_description = $_product->getDescription();
$version = substr(Mage::getVersion(), 0, 3);
if (count($attachments) > 0):
?>
    <div class="collateral-box box-collateral box-attachments">

            <h2><?php echo $this->__('Recipe Steps') ?></h2>

<!--            <div class="collateral-box attachment-specs">-->
<!--                <table cellspacing="0" id="product-attachment-specs-table" class="data-table">-->
<!--                    <tbody>-->
<!--                        --><?php //foreach ($attachments as $attachment): ?>
<!--                            <tr>-->
<!--                                <td class="label">--><?php //echo $attachment['file']; ?><!--</td>-->
                                <td class="data"><?php echo $attachment['content']; ?></td>
<!--                            </tr>-->
<!--                        --><?php //endforeach; ?>
<!--                    </tbody>-->
<!--                </table>-->
<!--            <script type="text/javascript">decorateTable('product-attachment-specs-table')</script>-->
<!--            </div>-->


        <div style="padding-bottom: 50px;" class="">
            <div id="masonry-steps-container" style="padding-bottom: 60px">
                <?php foreach ($attachments as $attachment): ?>
                    <div class="item">
                        <div class="step-image">
                            <img src="<?php echo str_replace('fileuploader', 'index.php/fileuploader', $attachment['img_path']); ?>"/>
<!--                            <img src="http://clt.dev/index.php/fileuploader/download/download/?file=custom%2Fupload%2FFile-1390850196.jpg"/>-->

                        </div>
                        <div class="step-title text-left"><span class="step-title-order"><?php echo $attachment['sort_order'];?>. </span><?php echo $attachment['title']; ?></div>
                        <div class="step-content"><?php echo $attachment['content']; ?></div>
                    </div>
                <?php endforeach; ?>
                <?php foreach ($attachments as $attachment): ?>
                    <div class="item">
                        <div class="step-image">
                            <img src="<?php echo str_replace('fileuploader', 'index.php/fileuploader', $attachment['img_path']); ?>"/>
<!--                            <img src="http://clt.dev/index.php/fileuploader/download/download/?file=custom%2Fupload%2FFile-1390850196.jpg"/>-->
                        </div>
                        <div class="step-title text-left"><span class="step-title-order"><?php echo $attachment['sort_order'];?>. </span><?php echo $attachment['title']; ?></div>
                        <div class="step-content"><?php echo $attachment['content']; ?></div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>

<script type="text/javascript">

    setTimeout(function() {
        jq('#masonry-steps-container').ready(function () {
            var $container = jq('#masonry-steps-container');
            // initialize
            $container.masonry({
                //columnWidth: 310,
                itemSelector: '.item',
                gutter: 36
            });
        });


    }, 2000);



</script>



