<!--
/**
 * Unicode Systems
 * @category   Uni
 * @package    Uni_Fileuploader
 * @copyright  Copyright (c) 2010-2011 Unicode Systems. (http://www.unicodesystems.in)
 * @license    http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
 -->
<?php 
$version = substr(Mage::getVersion(), 0, 3);
$_description = $this->getProduct()->getDescription();
?>
<?php if ($_description):?>
<!--    <h2>--><?php //echo $this->__('Details') ?><!--</h2>-->
    <div class="text-center recipe-description row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $_description, 'description') ?>
        </div>
        <div class="col-md-2"></div>
    </div>
<?php endif; ?>


<?php echo $this->getChildHtml('recipe.components'); ?>
<?php echo $this->getChildHtml('product.attachments'); ?>