#extabs span#tb4 {
	width: 100px;
}
div#noticeevents {
	border: 1px solid #999;
	background-color: #FFF;
	height: 100px;
	overflow: auto;
}
div#noticeevents div {
	border-bottom: 1px dotted #DDD;
	padding: 3px;
	margin: 0px;
}
.runner {
	-moz-border-radius: 	5px;
	-webkit-border-radius:	5px;
	float: right;
	font-size: .8em;
	background-color: #333;
	color: #FFF;
	padding: 2px 10px 5px 10px;
	cursor: pointer;
}


/** Growler Notice Custom Styling **/
div.Growler-notice {
	background-color: 		#000;
	color: 					#fff;
	opacity: 				.85;
	filter: 				alpha(opacity = 85);
	zoom: 					1;
	width: 					235px;
	padding: 				10px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	margin-left: 			auto;
	margin-right: 			auto;
	font-family: 			Tahoma, Arial, Helvetica, sans-serif;
	font-size: 				12px;
	text-align: 			left;
	display: 				none;
	-moz-border-radius: 	5px;
	-webkit-border-radius:	5px;
	min-height: 			40px;
    z-index:                10000;
}

div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
}

div.Growler-notice-exit {
	float: 					right;
	font-weight: 			bold;
	font-size: 				12px;
	cursor:					pointer;
}

/** Plain Theme **/
div.plain {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background-color: 		#EDEDED;
	border: 				1px solid #777;
}

div.plain div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	padding: 				2px 10px;
}

div.plain div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				0px;
	padding: 				0px 0px 2px 2px;
	width: 					10px;
	height: 				10px;
	color: 					#BFBFBF;
}
div.plain div.Growler-notice-body {
	padding: 5px;
}


/** Mac OS X Theme **/
div.macosx {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background: #d7d7d7 url(../images/macosx.jpg) repeat-y 0;
	border: 				1px solid #C9C9C9;
}

div.macosx div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	padding: 				5px 10px;
}

div.macosx div.Growler-notice-exit {
	width: 					15px;
	height: 				15px;
	float: 					left;
	cursor:					pointer;
	margin: 				4px;
	margin-left: 			1px;
	font-size: 				0em;
	color: 					transparent;
	background: transparent url(../images/macosx_exit.png) no-repeat left 0;
}
div.macosx div.Growler-notice-exit:hover {
	background: transparent url(../images/macosx_exit_over.png) no-repeat left 0;
}
div.macosx div.Growler-notice-body {
	padding: 2px 0 10px 25px;
}

/** Candybars Theme **/
div.candybar {
	color: 					#000;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background-color: 		#F5F7FA;
	border: 				1px solid #19304B;
}

div.candybar div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				10px;
	background: 			url(../images/candybars.jpg) repeat-x;
	padding: 				5px 10px;
}

div.candybar div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				3px;
}
div.candybar div.Growler-notice-body {
	border-top: 1px solid #999;
	padding: 10px;
}

/** Construction Theme **/
div.atwork {
	color: 					#FFF;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	background: 			#4d4d4d url(../images/atwork.png) repeat-y 0;
	border: 				1px solid #222;
}

div.atwork div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				12px;
	padding: 				5px 20px;
	color: 					#efca23;
	
}

div.atwork div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				3px;
}
div.atwork div.Growler-notice-body {
	padding: 2px 0 10px 25px;
}


div.Growler-notice {
    margin: 0;
    padding: 32px 22px 38px 22px;
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;

    background-color: #35a55d;

    opacity: 				1;
    filter: 				alpha(opacity = 100);
    zoom: 					1;
    width: 					100%;
}